@media (max-width: 1340px) {
  /* Header */
  .showcase-wrapper {
    gap: 2rem;
  }

  .showcase-content h1 {
    font-size: 2.55rem;
    line-height: 32px;
  }

  .showcase-content p {
    padding: 2.2rem 0 2.2rem;
    width: 90%;
  }

  /* Main Section */
  .main-container .card {
    gap: 5rem;
    padding: 3rem 2.5rem 3rem 5rem;
  }

  .card h2 {
    font-size: 1.8rem;
  }

  .card-1 p,
  .card-3 p {
    width: 95%;
  }
}

@media (max-width: 1200px) {
  /* Main Section */
  .main-container .card {
    gap: 2rem;
    padding: 2.5rem;
  }

  .card h2 {
    font-size: 1.7rem;
  }

  .card-2 .card-text {
    padding-left: 1rem;
  }
}

@media (max-width: 991px) {
  /* Header */
  .showcase-wrapper {
    flex-direction: column;
    gap: 3rem;

    padding: 3rem 0 2rem;
  }

  .showcase-content h1 {
    font-size: 2.8rem;
    line-height: 32px;
  }

  .showcase-content p {
    padding: 2.2rem 0 2.2rem;
    width: 90%;
  }

  /* Main Section */
  .main-container .card {
    gap: 2rem;
    padding: 2.5rem 2rem;
  }

  .card h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 767px) {
  /* Main Section */
  .card h2 {
    font-size: 1.6rem;
    line-height: 32px;
  }
}

@media (max-width: 576px) {
  /* Header */
  nav .logo {
    max-width: 140px;
  }

  nav a.nav-btn {
    padding: 0.5rem 2rem;
  }

  .showcase-wrapper {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    padding: 3rem 0 2rem;
  }

  .showcase-content h1 {
    font-size: 1.8rem;
    line-height: 24px;
  }

  .showcase-content p {
    padding: 2.2rem 0 2.2rem;
    width: 100%;
  }

  /* Main Section */
  .main-container {
    padding: 3rem 0;
    text-align: center;
  }

  .main-container .card {
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem;
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .card p {
    line-height: 26px;
    font-size: 15px;
  }

  .card-1 p,
  .card-3 p {
    width: 100%;
  }

  .card-1 .card-text,
  .card-3 .card-text {
    order: 1;
  }

  /* Community Card */
  .community-card {
    max-width: 100%;
    padding: 3rem 1rem 2rem;
    margin-top: 8rem;
  }

  .community-card h2 {
    font-size: 1.5rem;
  }
}
