@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
}

html {
  scroll-behavior: smooth;
}

/* Improve media defaults */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create Custom Scroll-Bar */
::-webkit-scrollbar {
  width: 10px;
  background: #c5cadf;
}

::-webkit-scrollbar-thumb {
  background: #70768a;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

/* CSS Custom Property */
:root {
  /* Background-Color */
  --bg-white: #fff;

  /* Color */
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  /* Typography */
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
}

body {
  font-family: var(--secondary-font);
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
}

/* Common CSS Classes */
.container {
  max-width: 1440px;
  width: 85%;
  margin-inline: auto;
}

/* Header */
header {
  min-height: 100vh;
  background: url(../images/bg-hero-desktop.svg) no-repeat;
  background-color: var(--very-pale-cyan);
  background-position: center center;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

nav a.nav-btn {
  color: var(--very-dark-cyan);
  font-weight: bold;
  background-color: var(--bg-white);
  padding: 0.7rem 3.2rem;
  border-radius: 30px;
}
